.tableList {
    width: 100%;
    background-color: #B16234;
}

.tableList h1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.productList {
    width: 100%;
    background-color: #B16234;
}

.productList h1 {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.available {
    background-color: #29c824;
    color: #fff;
    padding: 5px;
}

.occupied {
    background-color: #c81616;
    color: #fff;
    padding: 5px;
}

.cleaning {
    background-color: #525151;
    color: #fff;
    padding: 5px;
}

.requestBillout {
    background-color: #c8991a;
    color: #fff;
    padding: 5px;
}

.tableRow {
    background-color: #B16234;
}